<%- include ./partials/head.ejs %>

  <h1>Login</h1>
  <% if (err) { %>
    <p class="error">
      <%= err %>
    </p>
    <% } %>
      <form action="/auth/login" method="POST">
        <label>
          Username
          <input type="text" name="username" required>
        </label>
        <label>
          Password
          <input type="password" name="password" required>
        </label>
        <button type="submit">Login</button>
      </form>
      <a href="/auth/register">Don't have an account yet? Register here.</a>

      <%- include ./partials/foot.ejs %>