<%- include ./partials/head.ejs %>

  <h1>Register</h1>
  <% if (err) { %>
    <p class="error">
      <%= err %>
    </p>
    <% } %>
      <form action="/auth/register" method="POST">
        <label>
          Username
          <input type="text" name="username" required>
        </label>
        <label>
          Password
          <input type="password" name="password" required>
        </label>
        <button type="submit">Register</button>
      </form>
      <a href="/auth/login">Already have an account? Login here.</a>

      <%- include ./partials/foot.ejs %>