<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Upload</title>
</head>

<body>
  <h1>Upload</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <label>
      Image
      <input type="file" name="image" required>
    </label>
    <label>
      Title
      <input type="text" name="title" required>
    </label>
    <label>
      Description
      <input type="text" name="description" required>
    </label>
    <button type="submit">Add image</button>
  </form>
</body>

</html>